<!DOCTYPE html>
<html>
  <head>
    <title>AJAX Les-2</title>
  </head>
  <body>
    <h1>Les 2: REST</h1>

    <div>
      AJAX HTTP echo request:<br>
      par1: <input id="par1Input" type="text" name="par1" value=""><br>
      par2: <input id="par2Input" type="text" name="par2" value=""><br>
      send: <button id="getButton">GET</button>
           <button id="postButton">POST</button>
           <button id="putButton">PUT</button>
           <button id="deleteButton">DELETE</button>
    </div>
    <hr>
    <form method="POST" action="echo">
      Form HTTP echo request:<br>
      par1: <input type="text" name="par1" value=""><br>
      par2: <input type="text" name="par2" value=""><br>
      send: <button type="submit">POST</button>
    </form>
    <hr>
    <button id="notFoundButton">Try loading not found</button>
    <script src="scripts/myscript.js"></script>
  </body>
</html>
